body {
    font-family: 'Roboto', sans-serif;
    background-color: #d3d8d4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.sisi-kiri {
    flex: 1;
    padding: 20px;
}

.sisi-kanan {
    flex: 1;
    padding: 20px;
    position: relative;
}

.sisi-kanan img {
    width: 100%;
    border-radius: 15px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}


.form-select {
    border-radius: 5px;
    border-color: #6f8221;
    background-color: #f8f9fa;
}
  
.form-select option {
    background-color: #bede4d;
}

.form-check-input[type="radio"] {
    border-color: #6f8221;
}
.form-check-input[type="radio"]:checked {
    background-color: #b3d233;
    border-color: #b3d233;
}

.form-check-input[type="checkbox"] {
    border-color: #6f8221;
}
.form-check-input[type="checkbox"]:checked {
    background-color: #b3d233;
    border-color: #b3d233;
}

.form-control{
    border-color: #6f8221;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

a.btn-primary {
    display: block;
    margin: 0 auto;
    text-align: center;
}